
*.pyc
*.pyc
gestoreventos/gestoreventos/__pycache__/urls.cpython-311.pyc
gestoreventos/gper/__pycache__/views.cpython-311.pyc
gestoreventos/gper/__pycache__/urls.cpython-311.pyc
/gestoreventos/gper/__pycache__
gestoreventos/gper/__pycache__/urls.cpython-311.pyc
gestoreventos/gper/__pycache__/views.cpython-311.pyc
/gestoreventos/gper/__pycache__
gestoreventos/gper/__pycache__/views.cpython-311.pyc
