{% extends 'base_generic.html' %}
{% block content %}
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card" style="width: 30rem;">
        <div class="card-body">
            <h5 class="card-title text-center mb-4">Eliminar Unidad de Medida</h5>
            <h4><b>ID:</b> {{ object.idUnidadMedida }}</h4> 
            <h5><b>Unidad:</b> {{ object.unidad }}</h5> 
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger w-100 mt-3">Eliminar</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
