
{% block content %}
<div class="mb-3 container-sm">
    <div class="form-floating">
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="unidad">Unidad de Medida</label>
                <input type="text" class="form-control" id="unidad" name="unidad" placeholder="Unidad de Medida">
            </div>
            <button type="submit" class="btn btn-primary mt-3">Guardar</button>
        </form>
    </div>
</div>
    
{% endblock %}